<h1>Terms of Service</h1>

<p>Last updated: 8/30/2023</p>

<p>Thank you for using Equity Management USA Inc These Terms of Service ("Terms") govern your use of our website located
    at www.EquityManagementNY.com and any related services provided by Equity Management USA Inc</p>

<p>By accessing www.EquityManagementNY.com, you agree to abide by these Terms and to comply with all applicable laws and
    regulations. If you do not agree with these Terms, you are prohibited from using or accessing this website or using
    any other services provided by Equity Management USA Inc</p>

<h2>Privacy Policy</h2>

<p>Before you continue using www.EquityManagementNY.com, we advise you to read our privacy policy regarding our user
    data collection. It will help you better understand our practices.</p>

<h2> Phone messaging terms </h2>





<ul>
    <li>
        You can cancel the SMS service at any time. Just text "STOP" to the short code. After you send the SMS message
        "STOP" to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will
        no longer receive SMS messages from us. If you want to join again, just sign up as you did the first time and we
        will start sending SMS messages to you again.
    </li>
    <li>
        If you are experiencing issues with the messaging program you can reply with the keyword HELP for more
        assistance,
        or you can get help directly at info@EquityMgmnt.com
    </li>

    <li>
        Carriers are not liable for delayed or undelivered messages
    </li>

    <li>
        As always, message and data rates may apply for any messages sent to you from us and to us from you.

        If you have any questions about your text plan or data plan, it is best to contact your wireless provider.
    </li>

</ul>



<h2>License to Use Website</h2>

<p>EQUITY MANAGEMENT USA INC grants you a personal, non-exclusive, non-transferable, limited license to use the website
    and services. You are not allowed to...</p>

<h2>Acceptable Use</h2>

<p>Your use of the website and services must not cause damage, impair the website's availability, or interfere with any
    other person's use of the website. Prohibited behavior includes harassing or causing distress or inconvenience to
    any other user, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within our
    website.</p>

<h2>Restrictions</h2>

<p>You are specifically restricted from all of the following:</p>
<ul>
    <li>Publishing any website material in any media</li>
    <li>Selling, sublicensing, and/or commercializing any website material</li>
    <li>Publicly performing and/or showing any website material</li>
    <li>Using this website in a way that is damaging to this website</li>
    <li>Using this website contrary to applicable laws and regulations, or in a way that causes harm to the website, any
        person or business entity</li>
</ul>

<h2>Termination</h2>

<p>We may terminate or suspend your access to the website immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach these Terms.</p>

<h2>Changes to Terms</h2>

<p>EQUITY MANAGEMENT USA INC is permitted to revise these Terms at any time as it sees fit, and by using this website
    you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing
    the use of this website.</p>

<h2>Contact Us</h2>

<p>If you have any questions about these Terms, please contact us at info@EquityMgmnt.com</p>