:host {
    display: block;
    max-width: 1200px;
    margin: auto;
    background: lightgray;
    padding: 22px;
    font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    background-color: #f7f7f7ff;
}
h1, h2 {
    margin-top: 20px;
  }

  p, li{
    font-weight: 300;
    line-height: 150%;

  }

  li {
    margin-bottom: 6px;
  }