
<div class="contact-container">
    <!-- Left Side -->
 

    <div class="chat-section">
      <h1>Let's Chat</h1>
      <p class="info-line"> 199 Lee Ave. Suite 292 Brooklyn N.Y. 11211</p>
      <p class="info-line"> 718.599.1132</p>
      <p class="info-line"> info@EquityMgmnt.com</p>
    </div>
  
    <!-- Right Side -->
    <div class="form-section">
        <form (ngSubmit)="sendEmail()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" [(ngModel)]="name">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" id="phone" name="phone" [(ngModel)]="phone">
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" id="subject" name="subject" [(ngModel)]="subject">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea id="message" name="message" [(ngModel)]="message"></textarea>
            </div>
            <button type="submit">Submit</button>
          </form>
    </div>
  </div>


  <div class="disclaimer">
    <h2>Opt-In Language</h2>
    <p>By providing your phone number on the application, 
        you agree to receive text messages from Equity Management USA Inc regarding updates, 
        offers, and promotions. Reply STOP to opt-out anytime. Message and data rates may apply. 
        For more information, please read our <a target="_blank" href="/privacy">Privacy Policy</a>  and <a  target="_blank" href="/terms">Terms of Service</a>.</p>
  </div>
  
  
