.footer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
}

.brand {
    font-size: 22px;
}

.email {
    font-size: 14px;
    a {
        text-decoration: none;
        font-weight: 300;
        color: inherit;
    }
}

.copy {
    font-weight: 300;
    margin-top: 52px;
}

.links {
    a {
        color: inherit;
        text-decoration: none;
        &.active-link{
            border-bottom: 1px solid;
        }
    }
}