<footer class="footer">
    <p class="brand">
        Equity Management USA Inc
    </p>
    <p class="email">
        <a href="mailto:email@example.com">info@EquityMgmnt.com</a>
    </p>

    <p class="copy">
        ©2023 by Equity Management USA Inc. 199 Lee Ave. Suite 292Brooklyn N.Y. 11211
    </p>
    <!-- <div class="footer-content">
      <div class="footer-item">
        <h4>Email</h4>
        <p><a href="mailto:email@example.com">info@EquityMgmnt.com</a></p> 
      </div>
      <div class="footer-item">
        <h4>Phone</h4>
        <p><a href="tel:+1234567890">718.599.1132</a></p>
      </div>
      <div class="footer-item">
        <h4>Address</h4>
        <p></p> 
      </div>
    </div> -->
  </footer>