<div class="about-container">
    <div class="text-section">
      <h1>A BIT ABOUT US</h1>
      <p>Enhancing the value of your property investment – that’s the driving force behind all we do at "Equity Management" . 
        Whether you own a multi-family building, apartment complex, 
        we can design a property management program that will meet your specific property management
         needs and provide a strong return on your investment. 
         "Equity Management" is a full-service organization offering a wide range of management services,
          which include physical, administrative, accounting, financial and maintenance services. 
        "Equity Management" is proud to be recognized as one of the few full-service management
         companies in the Brooklyn.</p>

      <p>We offer full service or partial service management for all of your real estate needs.
         We will manage all of your properties like they are our own, 
         giving you the peace of mind that your investments are in good hands. 
         Our service covers all types of buildings, from smaller multi-family's, to large apartment buildings.
          Our full service packages are all-inclusive, taking care of both the small and the large details. 
          Our partial service management can be anything from just handling the garbage removal & basic janitorial work,
           to tenant interaction and rent collection, to project oversight.  
        Whatever your needs are, our goal is to provide you with the highest 
        quality service possible to maintain long term client relationships.</p>

        <p>
         Equity Management USA Inc 
        </p>
    </div>
    <div class="image-section">
      <img src="https://media.istockphoto.com/id/1551343681/photo/modern-residential-area.webp?b=1&s=170667a&w=0&k=20&c=P3nTm8JAevfw7KvArb-b7igx8oXEsuyzckmbY97aJG4=" alt="About Us"> <!-- Replace with your image path -->
    </div>
  </div>

